# Doit être désactivé en production
DEV_MODE=false

# Stockage des sessions
SESSIONS_KEY=

# Base de données (c.f. gorm.io/docs)
MYSQL_DSN=insa_tutorat:strongPassword@tcp(127.0.0.1:3306)/insa_tutorat?charset=utf8mb4&parseTime=True&loc=Local
LOG_LEVEL=debug

# Envoi des emails : le code utilise un serveur SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_SENDER=

# Domaine de l'application
DOMAIN=
BASE_URL=

# Amorçage du tout premier compte admin, sans devoir accéder à la base de données
INITIAL_ADMIN_EMAILS=

# Anonymisation des comptes utilisateurs
ANONYMIZATION_INACTIVITY_MONTHS_STPI1=24
ANONYMIZATION_INACTIVITY_MONTHS_STPI2=12